<template name="pollItem">
	<div class="post">
		<div class="post-content col-lg-12 col-md-12 col-xs-12">
			{{#if ownPoll}}
			<div class="row">
				<div class="col-xs-8 col-md-5 col-lg-4">					
					<h3 style="display: inline; font-size: 22px; text-align: center;">{{title}} </h3><span>Erstellt von {{author}}</span>					
				</div>
				<div style="text-align: center;" class="col-xs-5 col-md-4 col-lg-3 col-lg-offset-2">
					<a class="btn-poll btn btn-primary" href="{{pathFor 'pollPage'}}">Abstimmen</a>
					<a class="btn-poll btn btn-default" href="{{pathFor 'pollAnalysis'}}">Auswertung</a>
				</div>
				<div style="text-align: center;" class="col-xs-5 col-md-3 col-lg-3 ">
					<a class="btn-poll btn btn-warning edit" href="{{pathFor 'pollEdit'}}">Bearbeiten</a>
					<a class="btn-poll btn btn-danger delete" href="{{pathFor 'pollDelete'}}">Löschen</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-18">
					{{#each categories}}
						<span class="label label-info">#{{this}}</span>
					{{/each}}
				</div>
			</div>
			{{else}}
				<div class="row">
					<div class="col-xs-8 col-md-5 col-lg-4">
						<h3 style="display: inline; font-size: 22px; text-align: center;">{{title}} </h3><span>Erstellt von {{author}}</span>
					</div>
					<div style="text-align: center;" class="col-xs-10 col-md-4 col-lg-3 col-lg-offset-5 col-md-offset-3">
						<a class="btn-poll btn btn-primary" href="{{pathFor 'pollPage'}}">Abstimmen</a>
						<a class="btn-poll btn btn-default" href="{{pathFor 'pollAnalysis'}}">Auswertung</a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-18">
						{{#each categories}}
							<span class="label label-info">#{{this}}</span>
						{{/each}}
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>